<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta is-size-6">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text is-size-6">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>