<section>
  <br>
  <h2 class="title is-size-2 has-text-black">Create a Post</h2>
  <br>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="title is-size-4 has-text-black">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content" class="title is-size-4 has-text-black">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" />
    </div>
    <button type="submit" class="btn is-warning is-pulled-left">Submit Post</button>
  </form>
</section>

<a href="/dashboard" class="is-pulled-right is-size-5 has-text-warning"> &larr; Return to Dashboard</a>

<script src="/javascript/add-post.js"></script>