<section>
  <h2 class="title pb-4">DASHBOARD: My Activity</h2>
  <div class="mb-5 pt-3">
    <a href="/dashboard/create/"><button id="add-post" class="btn is-warning is-pulled-left">
        Create a New Post</button>
    </a>
    <br>
  </div>

  {{!-- <form class="new-post-form">
    <div>
      <br><br>
      <label for="post-title" class="is-size-4">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content" class="is-size-4">Post Contents:</label>
      <input id="post-content" name="post-content" />
    </div>
    <button type="submit" class="btn">Submit New Post</button>
  </form>
</section> --}}

<!--if there are any posts for this user, show them-->
{{#if posts.length}}
<section>
  <br><br>
  <h2 class=title pb-2">My Posts:</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}"><button class="button is-warning">Edit Post</button></a>

  <!--    </button></a> class="edit-link">Edit post</a>-->
    </li>
    {{/each}}
  </ol>
</section>

{{else}}
<br>
<!--if no posts yet, tell user-->
<h3 class="is-size-4">No posts have been submitted by this user</h3>
{{/if}}
<script src="/javascript/add-post.js"></script>