<div class="column">
  <h1 class="title is-size-2 has-text-black">
    Welcome to Tech Blog!
  </h1>
  <h2 class="title is-size-4 has-text-black">
    If this is your first visit, please click on "Signup".<br>You will be directed to a separate
  screen to set up an account with us.
  </h2>
  <div>
    <a href="/signup"><button type="button" class="btn is-warning">Sign Up</button></a>
  </div>
  <br>
  <hr>

  <form class="login-form">
    <div>
      <label for="username-login" class="title is-size-5 has-text-black">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login" class="title is-size-5 has-text-black">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" class="btn is-warning">Login</button>
  </form>
</div>

<script src="/javascript/login.js"></script>