<div class="column">
  <h1 class="title pb-4">
    Welcome to Tech Blog! If this is your first visit, please click on "Signup".<br>You will be directed to a separate
    screen to set up an account with us.
  </h1>
  <hr>
  <form class="login-form">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button is-warning">Login</button>
      <a href="/signup"><button type="button" class="button is-warning">Sign Up</button></a>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>