<div class="column">
  <h1 class="title is-size-4 has-text-black">
    Please choose a username and password that you would like for your account.<br><br>If you receive an error, the username is likely already taken, so please try again:
  </h1>
  <hr>
  <form class="signup-form">
    <div>
      <label for="username-signup" class="title is-size-4 has-text-black">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup" class="title is-size-4 has-text-black">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn is-warning">Sign Up</button>
    </div>
  </form>
  </div>
    
  <script src="/javascript/signup.js"></script>

